html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Verdana";
  src: url(./assets/fonts/Verdana.ttf);
}

html {
  max-width: 1440px;
  margin: auto;
  font-family: "Verdana", sans-serif;
}

a {
  text-decoration: none;
}

/** TOOLKIT **/

.flexCenter {
  display: flex;
  align-items: center;
}

/*** Header **/

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-1 {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

nav {
  width: 60%;
}

.fa-house {
  padding-right: 30px;
}

.account-container {
  list-style: none;
  justify-content: flex-end;
  width: 60%;
}

.account-container li {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(99, 97, 97);
  border: solid 2px red;
  padding: 10px 0px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  font-style: italic;
  transition: transform 0.8s;
  margin-left: 50px;
}

.account-container li:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 5px 8px 24px -8px #000000cc;
  box-shadow: 5px 8px 24px -8px #000000c5;
}

.account-container li i {
  font-size: 25px;
}
.nav-vehicules {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.vehicules-container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

.vehicules-container li {
  display: flex;
  cursor: pointer;
  flex: 1;
  margin: 0 1px;
  background-color: rebeccapurple;
  position: relative;
  overflow: hidden;
}

.vehicules-container li:hover img {
  transform: scale(1.2);
}

.vehicules-container li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 35px;
  font-style: italic;
  color: white;
  background-color: rgba(128, 128, 128, 0.541);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.vehicules-container li p:hover {
  background-color: rgba(51, 50, 50, 0.562);
}

.vehicules-container li img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 1s;
}

.title-site {
  font-size: 40px;
  font-style: italic;
  color: rgb(100, 99, 99);
  border: 1px solid grey;
  padding: 10px;
  border-radius: 25px;
  width: 400px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  animation: title-animation 3s ease-in-out, title-animation-end 1s 3s;
}

@keyframes title-animation {
  0% {
    left: -100%;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@keyframes title-animation-end {
  0% {
    color: initial;
    transform: initial;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  50% {
    border: 1px solid red;
    color: red;
    transform: scale(1.05);
    -webkit-box-shadow: 5px 8px 24px -8px #000000cc;
    box-shadow: 5px 8px 24px -8px #000000c5;
  }
  100% {
    color: initial;
    transform: initial;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.accueil {
  animation: none !important;
}

.accueil::after {
  animation: none !important;
}

.title-site:hover {
  border: 1px solid red;
  color: red;
  transform: scale(1.05);
  -webkit-box-shadow: 5px 8px 24px -8px #000000cc;
  box-shadow: 5px 8px 24px -8px #000000c5;
}

.title-site:hover span {
  color: rgb(100, 99, 99);
}

.letter-title {
  font-size: 55px;
  color: red;
}

/**** Search ****/

.search-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.search-content {
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(216, 213, 213);
}

.search-content i {
  font-size: 26px;
  color: white;
  transition: transform 0.5s;
}

.search-button {
  height: 100%;
  width: 70px;
  border: none;
  background-color: red;
  cursor: pointer;
}

.search-button:hover i {
  transform: scale(1.2);
}

.label-search {
  background-color: red;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 15px;
  color: white;
}

#search-input {
  height: 100%;
  width: 200px;
  border: 0px;
  text-align: center;
  font-size: 17px;
}

#search-input:focus {
  outline: none;
}

/*** Contact-Apropos **/

.contact-apropos {
  list-style: none;
  display: flex;
}
.contact-apropos li {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(99, 97, 97);
  border: solid 2px red;
  padding: 10px 0px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  font-style: italic;
  transition: transform 0.8s;
  margin-left: 50px;
  box-sizing: border-box;
}

.contact-apropos li:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 5px 8px 24px -8px #000000cc;
  box-shadow: 5px 8px 24px -8px #000000c5;
}

.contact-apropos li i {
  font-size: 30px;
}

#news {
  color: white;
  background-color: rgb(99, 97, 97);
  border: none;
}

#news i {
  color: red;
}
/**** Menu déroulant ****/

.rolled-menu {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  position: absolute;
}

.rolled-menu ul {
  width: 33.33%;
  list-style: none;
  padding: 0;
  z-index: 5;
  margin: 0;
}

.rolled-menu ul li {
  opacity: 0.9;
}

.rolled-menu ul li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4c4c;
  cursor: pointer;
  border: 1px solid #adadad;
  background-color: white;
  box-sizing: border-box;
  transition: font-size 0.5s;
}

.rolled-menu ul li:hover {
  background-color: #d1cece;
  font-size: 21px;
}

.menu-voiture,
.menu-moto,
.menu-50cc {
  display: none;
  position: absolute;
}

/**** Caroussel ***/

.slider {
  height: 350px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: calc(400px * 10);
  animation: scroll 20s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}

.slide {
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 12px;
  perspective: 100px;
}

.slide img {
  width: 100%;
  height: 290px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 10px;
}

.slide img:hover {
  transform: scale(1.1);
}

.slider::before,
.slider::after {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*************** PARTIE PIECES ***********/

.article-pieces {
  width: 100%;
}

#pieces-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/**** Card pieces ******/

.card {
  width: 260px;
  margin: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(211, 208, 208);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.card h2 {
  font-size: 20px;
  margin: 20px 0;
}

.card .description {
  display: none;
}

.card p {
  font-size: 18px;
}

.card h2,
.card p {
  padding: 0 15px;
}
.card img {
  width: 100%;
  height: 240px;
  object-fit: cover !important;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 5px 8px 24px -8px rgb(178, 175, 175);
  box-shadow: 5px 8px 24px -8px rgb(174, 171, 171);
}

.card-type-word {
  text-align: left;
  font-size: 16px;
}

.card-panier {
  display: flex;
  justify-content: space-evenly;
  font-family: Verdana;
  cursor: pointer;
  align-items: center;
  bottom: 16px;
  right: 16px;
  margin-top: auto;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  font-size: 12px !important;
  color: white;
  background-color: red;
  transition: all 0.4s;
  width: 60%;
}

.card-panier:hover {
  transform: scale(1.1);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-panier i {
  margin-right: 4px;
}

.carousel img {
  width: 100%;
  display: none;
  cursor: pointer;
}

.carousel img:first-child {
  display: block;
}

.carousel-bullet {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #cccbcb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s ease;
}

.carousel-bullet.active {
  background-color: #717171;
  transition: all 0.3s ease;
}

/******** Modale ********/

#modal {
  transition: opacity 0.3s;
  transition: all 0.5s ease;
  justify-content: center;
}

#modal-content {
  margin: auto;
  transition: all 0.5s ease;
}

#modal-content .card {
  background-color: white;
  margin: auto;
  width: 700px;
  min-height: 540px !important;
  transition: all 0.5s ease;
  padding-bottom: 10px;
  border-radius: 25px;
}

#modal-content .card img {
  height: 460px;
  object-fit: cover !important;
}

#modal-content .card:hover {
  transform: scale(1);
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

#modal-content .card .description {
  display: block;
}

#modal-content .card .card-panier {
  font-size: 17px !important;
  cursor: pointer !important;
  width: 40%;
}

/****** Bullet point ****/

.bullets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #eee;
  margin: 0 5px;
  border-radius: 50%;
}

.bullet.active {
  background-color: #a8a6a6;
}

/********Footer*******/

footer {
  display: flex;
  color: rgb(99, 97, 97);
  margin-top: 50px;
}

.border-style {
  border-left: solid 1px rgb(214, 214, 214);
  border-right: solid 1px rgb(214, 214, 214);
}

footer section i {
  font-size: 25px;
}

footer section {
  flex: 1;
  text-align: center;
  padding: 10px 35px;
}

footer section h2 {
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer section p {
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
